body{
    margin:0;
}
html{
    scroll-behavior: smooth;
}
header img{
    height: 150px;
}
nav{
    padding: 10px 15px;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   

nav a{
    text-decoration: none;
    padding: 15px 15px;
    font-size: 20px;
   font-family:'Alef';
   color: rgb(165, 123,123);
    &:hover{
    color: rgb(128, 48, 48);
    transition: 0.8s;
    background-color: antiquewhite;
    border-radius: 10px 10px 20px 20px;
    }
.banner a{
    padding: 15px;
    font-size:20px;
    text-align: center;
    color: cadetblue;
    font-family:Alef;
}
}
header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color:rgba(255, 237, 237, 0.685);
    box-shadow: 0px 0px 5px;
    width: 100%;
    position: fixed;
}
.home{
    height: 800px;
    background-color:rgb(247, 244, 244);
    padding-top: 100px;
}
.deskripsiHome{
    width: 40%;
    margin-left: 50px;
}
section.home{
    height:800px;
    background-size:cover;
    background-attachment: fixed;
    background-image: url(background.png);
}
h1.judulhome{
    font-size: 30px;
}
.deskripsiHome{
    font-size: 17px;
    & h1{
        color:rgb(60, 29, 8);
        font-family: Alef;
    }
    & h2{
        color:#4d4d02;
        background-color:rgba(187, 218, 37, 0.425);
        padding: 5px 10px;
        border-radius: 15px;
        font-family: Alef;
        font-size: 23px;
    }
    & p{
        color:rgb(60, 29, 8) ;
        background-color: rgba(199, 102, 37, 0.425);
        padding: 5px 10px;
        border-radius: 15px;
        font-family:Alef;
        font-size: 17px;
    }
}

section.howto img{
    height: 300px;
}
section.profile{
    height: 800px;
    text-align: center;
}

.deskripsiHow{
    width:60%;
    margin:auto;
    font-size: 17px;
    & h1{
        color:rgb(60, 29, 8);
        font-family: 'Alef';
    }
    & h2{
        color:#4d4d02;
        background-color:rgba(187, 218, 37, 0.425);
        padding: 5px 10px;
        border-radius: 15px;
        font-family: 'Alef';
        font-size: 23px;
    }
    & ol{
        color:rgb(60, 29, 8) ;
        padding: 5px 10px;
        border-radius: 15px;
        font-family:'Alef';
        font-size: 17px;
    }
}
.about{
    height: 1000px;
    background-color:rgb(247, 202, 202);
    padding-top: 100px;
    text-align:center;
}
.howto{
    height: 1000px;
    background-color:rgb(247, 244, 244);
    padding-top: 100px;
}
.deskripsiabout{
    width:60%;
    margin:auto;
    padding: 15px 20px;
    & h1{
        color: darkred;
        font-family: 'Alef';
        font-size: 60px;
    }
    & h2{
        color: peru;
        background-color:rgba(255, 146, 213, 0.425);
        padding: 2px;
        border-radius: 15px;
        font-family: 'Alef';
        font-size: 23px;
    }
    & p{
         color:rgb(60, 29, 8) ;
        padding: 5px 10px;
        border-radius: 15px;
        font-family:'Alef';
        font-size: 17px;
    }
}
section.about img{
    height: 300px;
}
.cardprofile{
    background-color: brown;
    padding:15px;
    width:300px;
    margin:auto;
    text-align:center;
    height: 550px;
    padding-top: 20px;
    border-radius: 20px;
}
.cardprofile img{
    width:80%;
}
.medsos{
    left:0;
    bottom:0;
    width:100%;
    text-align:center;
    height:400px;
    padding-top:5px;
}
.medsos a{
    text-decoration: none;
    padding: 10px 10px;
    font-size:23px;
}